<sly data-sly-use.model="com.aem.training.site.core.models.MyHeroModel" >
    <div id="page">
        <div id="social-media">
            <div>
                <div class="social" data-sly-list="${model.myHeroSlides}">

                    <a href="${item.link}"><img src="${item.image}">${item.title}</a>
                </div>
                <div>
                    <p style="text-align:center">${properties.text}</p>
                </div>
            </div>
        </div>
    </div>
</sly>



